/* global variables */
:root {
  --body-bg: #fafaf9;
  --txt-dark: #18181b;
  --txt-light: #52525a;
  --fnt-1: 2.25rem;
  --fnt-2: 1.25rem;
  --fnt-3: 1rem;
  --fnt-4: 0.875rem;
}

/* local font hosting */
@font-face {
  font-display: swap;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sora-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/sora-v12-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/sora-v12-latin-600.woff2') format('woff2'),
    url('../fonts/sora-v12-latin-600.ttf') format('truetype');
}

html {
  font-family: 'Sora', system-ui;
}
