/* global variables */
:root {
  --body-bg: #fafaf9;
  --txt-dark: #18181b;
  --txt-light: #52525a;
  --fnt-1: 2.25rem;
  --fnt-2: 1.25rem;
  --fnt-3: 1rem;
  --fnt-4: 0.875rem;
}

/* local font hosting */
@font-face {
  font-display: swap;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sora-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/sora-v12-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/sora-v12-latin-600.woff2') format('woff2'),
    url('../fonts/sora-v12-latin-600.ttf') format('truetype');
}

html {
  font-family: 'Sora', system-ui;
}

/* general styling */
body {
  background: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: 1rem;
}

/* review component */
.review {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
  max-width: 22.3125rem;
  width: 100%;
  padding: 1.5rem;
  transition: transform 0.2s;
}

.review:hover {
  transform: scale(1.025);
}

.review__gfx,
.review__stars {
  display: flex;
  align-items: center;
}

.review__gfx {
  gap: 1rem;
  margin-bottom: 1rem;
}

.review__logo {
  max-width: 5.4375rem;
  width: 100%;
}

.review__stars {
  gap: 4px;
}

.review__author {
  color: var(--txt-dark);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.review__body {
  color: var(--txt-light);
  font-size: 0.9375rem;
  line-height: 1.75;
}

@media screen and (min-width: 22.5em) {
  .review {
    padding: 1.75rem 2.5rem;
  }

  .review__body {
    font-size: var(--fnt-3);
  }
}

/* testimonials section */
.testimonials {
  width: 100%;
  max-width: 71rem;
}

.testimonials__icon {
  background: #f5c044;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.875rem;
  width: 2.875rem;
  margin-bottom: 1rem;
}

.testimonials__icon-emoji {
  font-size: 1.5rem;
}

.testimonials__title {
  color: var(--txt-dark);
  font-size: var(--fnt-1);
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.testimonials__description {
  color: var(--txt-light);
  font-size: var(--fnt-2);
  line-height: 1.75;
  margin-bottom: 2rem;
}

.testimonials__list {
  color: var(--txt-light);
  font-size: var(--fnt-4);
  list-style-image: url(../images/green-tick.svg);
  padding-left: 1.5rem;
}

.testimonials__list-item {
  line-height: 1.4;
  margin-bottom: 0.75rem;
}

.testimonials__list-item:last-of-type {
  margin-bottom: 0;
}

.testimonials__list-item > span {
  position: relative;
  top: -7px;
}

.testimonials__right {
  display: flex;
  flex-direction: column;
  max-width: 34.5rem;
  margin: 4rem auto 0;
}

.testimonials__right .review:nth-child(odd) {
  align-self: flex-end;
}

.testimonials__right .review {
  margin-bottom: 2.5rem;
}

.testimonials__right .review:last-of-type {
  margin: 0;
}

@media screen and (min-width: 53.125em) {
  body {
    padding: 2rem;
  }

  .testimonials {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .testimonials__left {
    width: 50%;
  }

  .testimonials__right {
    margin-top: 0;
    width: 50%;
  }
}

@media screen and (min-width: 73em) {
  body {
    padding: 2rem 0;
  }
}
