<article class="review">
  <div class="review__gfx">
    <img
      src="./images/google.png"
      alt="Reviewing company's logo"
      class="review__logo"
    />
    <div class="review__stars">
      <img src="./images/star-yellow.svg" alt="" />
      <img src="./images/star-yellow.svg" alt="" />
      <img src="./images/star-yellow.svg" alt="" />
      <img src="./images/star-yellow.svg" alt="" />
      <img src="./images/star-grey.svg" alt="" />
    </div>
  </div>
  <p class="review__author">Samantha Lee</p>
  <p class="review__body">
    The checklist ensures that the review process is thorough
  </p>
</article>

<article class="review">
  <div class="review__gfx">
    <img
      src="./images/meta.png"
      alt="Reviewing company's logo"
      class="review__logo"
    />
    <div class="review__stars">
      <img src="./images/star-yellow.svg" alt="" />
      <img src="./images/star-yellow.svg" alt="" />
      <img src="./images/star-yellow.svg" alt="" />
      <img src="./images/star-yellow.svg" alt="" />
      <img src="./images/star-yellow.svg" alt="" />
    </div>
  </div>
  <p class="review__author">Rachel Patel</p>
  <p class="review__body">
    I highly recommend the Writecream Business Description
  </p>
</article>
